*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* inizio header */
header{
    max-height: 300px;
    background-color:#ADD8E6 ; 
    padding-top: 1px;   
}

.box{
    background-color:#DAA520 ;
    margin: 1em auto; 
    max-width: 1200px;
    display: flex;     
}


.logo{
    width: 20%;
}

.link{
    width: 80%;
    text-align: center;
}
.login{
    width: 20%;
    text-align: right;
}

.boxBlu{
    background-color: #00008B;
    height: 200px; /*  da togliere successivamente */
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .boxPink{
    background-color: #EE82EE;
    width: 60%;
    min-height: 100%; 
}

/* inizio main */
/*  parte white*/

.boxMainWhite{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerFlex {
    width: 1200px;
    min-height: 300px; 
    margin: 1em;
    display: flex;    
}

.boxPaleBlue{
    background-color: #1E90FF;
    width: 60%;
    min-height: 70%;
}

.boxSoftPink{
    background-color: #FFC0CB;
    width: 40%;
    min-height: 70%;
}

 /* parte grey */

 .boxMainGrey{
    background-color: #D3D3D3;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .containerReverse {
    width: 1200px;
    min-height: 300px; 
    margin: 1em;
    display: flex;
    flex-direction: row-reverse;
 }

 /* blocco verde */

 .conteinerGreen{
    width: 1200px;
    min-height: 500px;
    margin: 1em;
    background-color: green;
 }

 /* inizio footer */
 /* prima parte */
 .boxBlack{
    background-color: black;  
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .boxSalmon{
    background-color: #F08080;
    width: 30%; /*calc((100% /5) *1.5) */
    min-height: 70%;
 }

 .boxYellow{
    background-color: yellow;
    width: 17.5%;
    min-height: 70%;
    border: black dashed 1px;
 }

 /* seconda parte */

 .BoxFlexFooter{
    background-color: #7FFFD4;
    width: 1200px;
    min-height: 50px;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .button{
    background-color: #FFB6C1;
    padding: 5px;   
 }